ion-content {
  --background: var(--ion-color-light);
}

ion-toolbar {
  --background: transparent;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  ion-card {
    min-width: 200px;
    max-width: 300px;
    cursor: pointer;
    transition: 100ms linear;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
