<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ichigo Wallet - Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
             #contentEl>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ichigo Wallet - Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @if (!!savedName) {
    <div class="userLoginInfo">
      <div class="usernameSection">
        Viewing as <strong>{{ savedName?.toLowerCase() }}</strong>

        <ion-button size="small"
                    color="danger"
                    (click)="signOut()">Sign out</ion-button>
      </div>
      <div>
        @if (savedUserAddress) {
        <a [href]="'https://sepolia.basescan.org/address/' + savedUserAddress + '#tokentxnsErc721'"
           target="_blank">{{ savedUserAddress }}</a>
        }
      </div>
      @if (ownedTokenIds.length || ezTokens > 0) {
      <div class="tokens">
        <h3>Tokens owned</h3>
        <div class="itemsContainer">
          @if (ezTokens) {
          <div>
            <div class="item"
                 (click)="openERC20Details()">{{ ezTokens }}xEZ</div>
            <div class="title">
              ERC-20
            </div>
            <ion-button size="small"
                        [disabled]="transferingERC20"
                        (click)="transferERC20()">
              @if (transferingERC20){
              <ion-spinner name="crescent"></ion-spinner>
              } @else{
              Send
              }
            </ion-button>
          </div>
          }
          @for (item of ownedTokenIds; track item) {
          <div>
            <div class="item"
                 (click)="openTokenDetails(item)">#{{ item }}</div>
            <div class="title">
              ERC-721
            </div>
            <ion-button size="small"
                        [disabled]="transferingTokenId === item"
                        (click)="transfer(item)">
              @if (transferingTokenId === item){
              <ion-spinner name="crescent"></ion-spinner>
              } @else{
              Send
              }
            </ion-button>
          </div>
          }
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="userLoginInfo">
      <ion-button size="small"
                  color="secondary"
                  (click)="signIn()">Select user</ion-button>
    </div>
    }
    <strong>Ready to purchase with next-gen wallet?</strong>
    <p>We combined the latest web and crypto technologies.</p>
    <br />
    <br />

    <div class="claimableItems">
      <ion-card class="claimItem">
        <div class="ezt">
          10x EZ
        </div>
        <h2>EZ Token</h2>
        <ion-card-content>
          <ion-button color="dark"
                      fill="outline"
                      class="pay"
                      size="small"
                      (click)="claimERC20()">
            Claim
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="claimItem">
        <div>
          <img class="preview"
               alt="avatar preview"
               src="/assets/headwear2_image1.png" />


        </div>
        <h2>Purple Hat</h2>
        <ion-card-content>
          @if (!claimTxHash){
          <ion-button color="dark"
                      fill="outline"
                      class="pay"
                      size="small"
                      (click)="claimNFT()">
            Claim
          </ion-button>
          }
          @else {
          <ion-button color="success"
                      fill="outline"
                      class="pay"
                      size="small"
                      [href]="'https://sepolia.basescan.org/tx/' + claimTxHash"
                      target="_blank">
            Claimed | View Tx
            <ion-icon slot="start"
                      name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          }
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
