input {
  padding: 9px;
  min-width: 200px;
  margin: 10px;
}

select {
  margin-right: 10px;
  padding: 9px;
}

button {
  padding: 8px;
}

ul {
  li,
  ol {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

span.error {
  color: #a52a2a;
}

span.good {
  color: #006400;
}
